@import '../../../style/colors';

.wrapper {
  height: 100%;
  max-height: 100%;

  & > button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;

  col {
    width: calc((100% - (150px + 30px + 100px)) / 5);

    &:first-child {
      width: 30px;
    }

    &:nth-child(4) {
      width: 150px;
    }

    &:last-child {
      width: 100px;
    }
  }
}

thead {
  background-color: $gray-2;
  position: sticky;
  top: -1px;
  z-index: 10;
  border-left: 1px solid $gray-2;
}

tfoot {
  position: sticky;
  z-index: 10;
  bottom: 0;
  border-left: 1px solid $gray-2;
  background-color: $gray-2;
}

tbody {
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
  border-left: 1px solid $gray-2;
  border-right: 1px solid $gray-2;
}
