@import '../../../style/colors';

.wrapper {
  th {
    position: relative;
    padding: 0.2em;
  }

  td {
    padding: 0.2em 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid $gray-2;
  }

  td:nth-child(2):hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: 100%;
  }

  .iconButton {
    width: 38px;
    height: 38px;
    color: $primary;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.6rem;

    &:hover,
    &:focus {
      border-color: $primary;
      outline: none;
    }
  }
}
